@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	@apply rounded;
}

.btn-circle {
	@apply rounded-full;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.3em;
	vertical-align: super;
}
sub {
	bottom: -0.25em;
	vertical-align: sub;
}

pre {
	scrollbar-color: #6b7280 #1f2937;
}

/* Works on Chrome, Edge, and Safari */
pre::-webkit-scrollbar {
	width: 12px;
}
pre::-webkit-scrollbar-track {
	background: #1f2937;
}

pre::-webkit-scrollbar-thumb {
	background-color: #6b7280;
	border-radius: 20px;
	border: 3px solid #1f2937;
}

@layer components {
	@media (max-width: 767px) {
		.dropdown.dropdown-center.dropdown-right .dropdown-content,
		.dropdown-center.dropdown-left .dropdown-content {
			@apply top-1/2 transform -translate-y-1/2;
		}

		.dropdown-center.dropdown-bottom .dropdown-content,
		.dropdown-center.dropdown-top .dropdown-content {
			@apply left-1/2 transform -translate-x-1/2;
		}
	}
}

@keyframes ripple {
	0% {
		transform: scale(0.2);
		opacity: 0.8;
	}
	20% {
		transform: scale(0.5);
		opacity: 0.8;
	}
	50% {
		transform: scale(1);
		opacity: 0.4;
	}
	80% {
		transform: scale(1.8);
		opacity: 0.2;
	}
	100% {
		transform: scale(2.5);
		opacity: 0;
	}
}
@-webkit-keyframes ripple {
	0% {
		transform: scale(0.2);
		opacity: 0.8;
	}
	20% {
		transform: scale(0.5);
		opacity: 0.8;
	}
	50% {
		transform: scale(1);
		opacity: 0.4;
	}
	80% {
		transform: scale(1.8);
		opacity: 0.2;
	}
	100% {
		transform: scale(2.5);
		opacity: 0;
	}
}
.ripple {
	position: absolute;
	height: 80rem;
	width: 80rem;
	border: 3px solid #fefcbf;
	/* border: 13px solid #000; */
	border-radius: 50%;
	background-color: transparent;
	opacity: 0;
	animation: ripple 10s infinite;
	z-index: -1;
}
.ripple:nth-child(2) {
	animation-delay: 0.8s;
}
.ripple:nth-child(3) {
	animation-delay: 1.6s;
}
